html {
  box-sizing: border-box;
  color: color(main-black);
  font-family: $main-font;
  font-size: 100%;
  height: 100%;

  body {
    height: 100%;
  }

  * {
    @include rem(font-size, 14px);
    box-sizing: border-box;
    color: color(main-black);
  }

  sub,
  sup {
    font-size: 75%;
  }
}

*:before,
*:after {
  box-sizing: border-box;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

a {
  color: color(main-purple);
  transition: all .4s ease-in-out;

  &:hover {
    transition: all .4s ease-in-out;
  }
}

.h1 {
  @include rem(font-size, 32px);
  @include rem(margin-bottom, 65px);
  color: color(main-black);
  font-weight: $normal;
  text-align: center;
}

h2 {
  @include lh(39, 26);
  @include rem(font-size, 26px);
  font-weight: $normal;
}

h3 {
  @include lh(18, 14);
  @include rem(font-size, 14px);
  font-weight: $semi-bold;
}

h4 {
  @include lh(28, 18);
  @include rem(font-size, 18px);
  color: color(main-purple);
  font-weight: $normal;
}
