input,
button,
input *,
button * {
  appearance: none;
  outline: none;

  &:focus,
  &:hover,
  &:active {
    outline: none;
  }
}

// select,
// input[type='file'],
// input[type='password'],
// input[type='text'] {
// }

// input[type='submit'],
// button {
// }

// select {
// }

select:hover {
  cursor: pointer;
}

// textarea {
// }

input[type='checkbox'] {
  appearance: checkbox;

  // + label {
  // }

  // &:checked + label {
  // }
}

input[type='radio'] {
  appearance: radio;

  // + label {
  // }

  // &:checked + label {
  // }
}

.button {
  @include btn;
}

.create-button {
  background-color: color(main-bg);
  border-radius: 3px;
  box-shadow: $main-shadow-small;

  a {
    @include rem(padding-bottom, 15px);
    @include rem(padding-top, 17px);
    color: color(sidebar);
    display: block;
    font-weight: $semi-bold;
    text-align: center;
    text-decoration: none;
  }
}
