.footer {
  @include rem(padding, 40px 0);
  background-color: color(footer-bg);
  height: auto;
  margin-top: 0;

  li {
    @include rem(padding, 10px 0);

    a {
      @include rem(font-size, 15px);
      @include rem(margin-right, 60px);
      color: color(main-purple);
      font-weight: $semi-bold;
      padding: 0;
    }

    &:last-child a {
      margin-right: 0;
    }
  }

  &__description {
    @include rem(margin-bottom, 32px);
    @include rem(margin-top, 25px);
  }

  &__copyright,
  &__description {
    p {
      @include lh(21, 14);
      @include rem(font-size, 14px);
      font-weight: $normal;
    }
  }

  p {
    @include lh(21, 12);
    @include rem(font-size, 12px);
    font-weight: $normal;
    letter-spacing: .47px;
  }

  span {
    @include lh(28, 18);
    @include rem(font-size, 18px);
    color: color(main-green);
    font-weight: $normal;
  }

  &__contacts {
    @include rem(margin-top, 15px);
  }

  .group-full-width {
    @include rem(margin-bottom, 10px);
  }

  &__phone {
    @include rem(margin-bottom, 13px);
  }

  a[href*='instagram.com'],
  a[href*='insta.com'] {
    @include sprite($insta);
    display: inline-block;
  }

  &__copyright div {
    color: color(footer-copyright);
    letter-spacing: .54px;
  }

  .group-two-column {
    display: flex;
    justify-content: space-between;
  }

  .right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
