.requests-top-bar {
  @include clr;
  @include rem(margin-top, 56px);
  display: block;

  h3 {
    display: inline-block;
  }

  .answers-archive {
    @include rem(border-radius, 2px);
    @include rem(margin-bottom, 18px);
    @include rem(max-width, 147px);
    background-color: color(archive-search);
    float: right;

    a {
      @include lh(22, 14);
      @include rem(font-size, 14px);
      @include rem(padding, 13px 22px 10px 22px);
      color: color(archive-search-text);
      display: inline-block;
      font-weight: $semi-bold;
    }
  }

  &__people {
    @include rem(margin-bottom, 18px);

    ul {
      display: flex;
    }

    .status {
      @include btn;
      @include rem(margin-right, 15px);

      span {
        @include rem(font-size, 12px);
        @include rem(margin-left, 7px);
        color: color(header-menu);
        display: inline-block;
        transition: all .4s ease-in-out;
      }

      &:hover span {
        color: color(main-green);
        transition: all .4s ease-in-out;
      }
    }
  }
}
