.requests-filter {
  @include rem(margin-bottom, 18px);

  form {
    @include rem(border-radius, 2px);
    @include rem(height, 42px);
    @include rem(padding, 5px 0);
    align-items: center;
    background-color: color(main-bg);
    box-shadow: $main-shadow-small;
    display: flex;
  }

  input {
    @include rem(font-size, 14px);
    @include rem(height, 32px);
    @include rem(padding, 8px 14px 8px 52px);
    align-items: center;
    background: url('../img/icons/search-icon.png') no-repeat center left 24px;
    border: 0;
    border-right: 1px solid color(search-border);
    color: color(text);
    display: flex;
    justify-content: center;
    width: 100%;

    @include placeholder {
      color: color(text);
    }
  }

  .select2-container--default,
  .select2-selection--single {
    @include rem(height, 32px);
    background-color: color(main-bg);
    border: 0;
    border-radius: 0;
    width: auto !important;
  }

  .select2-container {
    &--default:not(:last-child) {
      border-right: 1px solid color(search-border);
    }

    &__option {
      @include rem(padding, 8px 15px);
    }

    &--default.select2-container--open .select2-selection__rendered {
      @include rem(padding-right, 112px);
    }

    &--default .select2-selection--single .select2-selection__arrow b {
      @include rem(margin-left, -25px);
      border-color: color(select-arrows) transparent transparent;
      border-width: 3px 3px 0;
      margin-top: 1px;
    }
  }

  .select2 * {
    outline: none;
  }

  .select2-container .select2-selection {
    &__clear {
      display: none;
    }

    &__rendered {
      @include lh(21, 14);
      @include rem(font-size, 14px);
      @include rem(padding, 8px 54px 5px 24px);
      color: color(main-black);
      letter-spacing: .54px;
    }
  }
}

.select2-container {
  .select2-search.select2-search--dropdown {
    display: none;
  }

  .select2-dropdown {
    background-color: color(main-bg);
    border: 0;
    box-shadow: $main-shadow-big;
  }

  &.select2-container--default .select2-results__option {
    @include rem(font-size, 12px);
    color: color(select-text);
  }

  &.select2-container--default .select2-results__option--highlighted[aria-selected] {
    @include rem(font-size, 12px);
    background-color: color(select);
    color: color(main-black);
  }
}
