.sidebar {
  @include rem(padding-bottom, 15px);
  @include rem(padding-top, 15px);
  background-color: color(main-bg);
  border-radius: 2px;
  box-shadow: $main-shadow-small;

  li {
    padding: 1px 0;
  }

  li a {
    @include rem(letter-spacing, .54px);
    @include rem(margin-bottom, 12px);
    @include rem(padding-left, 25px);
    @include rem(margin-top, 12px);
    align-items: center;
    border-right: 4px solid transparent;
    color: color(sidebar-item);
    display: flex;
    font-weight: $semi-bold;
    text-decoration: none;

    &:hover,
    &.active {
      border-right-color: color(main-green);
    }

    &:hover,
    &.active,
    &:hover i,
    &.active i {
      color: color(main-green);
    }

    i {
      @include rem(font-size, 16px);
      @include rem(margin-right, 25px);
      color: color(sidebar-item);
      width: 14px;
    }
  }

  .divider-horizontal {
    @include rem(margin, 15px 20px 20px);
    background-color: color(main-green);
    height: 2px;
  }

  .subscribes {
    @include rem(letter-spacing, .54px);
    @include rem(padding, 0 20px 98px);
    color: color(sidebar-item);
    display: block;
    font-weight: $semi-bold;
  }

  &-banner {
    @include rem(border-radius, 3px);
    @include rem(margin-top, 26px);
    @include rem(padding, 34px 16px);
    background-color: color(main-bg);
    border: 1px solid color(banner-border);
    box-shadow: $main-shadow-small;

    p {
      @include rem(margin-bottom, 25px);
      letter-spacing: .54px;
      text-align: center;
    }
  }
}
