.sidebar {
  @include rem(padding-bottom, 15px);
  @include rem(padding-top, 15px);
  background-color: color(main-bg);
  border-radius: 2px;
  box-shadow: $main-shadow-small;

  li a {
    @include rem(letter-spacing, .54px);
    @include rem(padding-left, 25px);
    align-items: center;
    color: color(sidebar-item);
    display: flex;
    font-weight: $semi-bold;
    text-decoration: none;

    &:hover,
    &.active,
    &:hover i,
    &.active i {
      color: color(main-green);
      transition: all .4s ease-in-out;
    }

    i {
      @include rem(font-size, 16px);
      @include rem(margin-right, 25px);
      color: color(sidebar-icon);
      transition: all .4s ease-in-out;
      width: 14px;
    }
  }

  span.title {
    @include rem(font-size, 12px);
    @include rem(margin, -2px 0 5px 0);
    @include rem(padding-left, 25px);
    color: color(sidebar-item);
    display: block;
    letter-spacing: .47px;
  }

  li {
    @include rem(margin-bottom, 20px);
    @include rem(margin-top, 12px);
    align-items: center;
    border-right: 4px solid transparent;
    display: flex;
    justify-content: space-between;
    padding: 1px 0;

    &.purple a,
    &.purple i {
      color: color(main-purple);
    }

    &:hover,
    &.active,
    &:hover .number,
    &.active .number {
      border-right-color: color(main-green);
      color: color(main-green);
    }

    &.purple:hover a,
    &.purple:active a {
      color: color(main-green);
    }
  }

  li.active,
  li.active-trail {
    a,
    i,
    &.purple a,
    &.purple i {
      color: color(main-green);
    }
  }

  .divider-horizontal {
    @include rem(margin, 15px 20px 20px);
    background-color: color(primary-tab-bd);
    height: 2px;

    &.people {
      @include rem(margin-bottom, 28px);
    }
  }

  .subscribes,
  .groups,
  .create-group {
    @include rem(letter-spacing, .54px);
    @include rem(padding, 0 20px 98px);
    color: color(sidebar-item);
    display: block;
    font-weight: $semi-bold;
    text-decoration: none;

    &:hover,
    &.active {
      color: color(main-green);
    }
  }

  .groups,
  .create-group {
    @include rem(padding, 0 20px 22px);
  }

  .create-group {
    color: color(main-purple);
    font-weight: $normal;
  }

  .number {
    @include rem(margin-right, 25px);
    @include rem(min-width, 30px);
    color: color(sidebar-item);
    font-weight: $semi-bold;
    text-align: center;
    text-decoration: none;
  }

  &-banner {
    @include rem(border-radius, 3px);
    @include rem(margin-bottom, 116px);
    @include rem(margin-top, 26px);
    @include rem(padding, 34px 16px);
    background-color: color(main-bg);
    border: 1px solid color(banner-border);
    box-shadow: $main-shadow-small;

    p {
      @include rem(margin-bottom, 25px);
      letter-spacing: .54px;
      text-align: center;
    }
  }
}
