.what-does-deadline-give {
  h2 {
    @include rem(margin-bottom, 60px);
    text-align: center;
  }

  &__wrapper {
    @include rem(margin-bottom, 60px);
    @include rem(padding, 0 22px);
  }

  .views-row {
    @include rem(border-radius, 3px);
    @include rem(margin, 0 38px);
    @include rem(padding, 52px 25px 40px 25px);
    background-color: color(main-bg);
    box-shadow: $main-shadow-big;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__image {
    @include rem(height, 80px);
    align-items: center;
    display: flex;
  }

  &__title {
    @include rem(height, 40px);
    @include rem(margin-bottom, 15px);
    @include rem(margin-top, 50px);
    text-align: center;
    width: 100%;

    span {
      @include lh(18, 12);
      @include rem(font-size, 12px);
      color: color(main-green);
      font-weight: $bold;
      text-transform: uppercase;
    }
  }

  &__desctiption p {
    @include lh(21, 14);
    @include rem(font-size, 14px);
    font-weight: $normal;
    text-align: center;
  }
}
