// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$checkbox-label-checked-name: 'checkbox-label-checked';
$checkbox-label-checked-x: 140px;
$checkbox-label-checked-y: 62px;
$checkbox-label-checked-offset-x: -140px;
$checkbox-label-checked-offset-y: -62px;
$checkbox-label-checked-width: 11px;
$checkbox-label-checked-height: 12px;
$checkbox-label-checked-total-width: 225px;
$checkbox-label-checked-total-height: 133px;
$checkbox-label-checked-image: 'sprite.png';
$checkbox-label-checked: (140px, 62px, -140px, -62px, 11px, 12px, 225px, 133px, 'sprite.png', 'checkbox-label-checked', );
$checkbox-label-name: 'checkbox-label';
$checkbox-label-x: 209px;
$checkbox-label-y: 33px;
$checkbox-label-offset-x: -209px;
$checkbox-label-offset-y: -33px;
$checkbox-label-width: 11px;
$checkbox-label-height: 12px;
$checkbox-label-total-width: 225px;
$checkbox-label-total-height: 133px;
$checkbox-label-image: 'sprite.png';
$checkbox-label: (209px, 33px, -209px, -33px, 11px, 12px, 225px, 133px, 'sprite.png', 'checkbox-label', );
$fire-name: 'fire';
$fire-x: 173px;
$fire-y: 33px;
$fire-offset-x: -173px;
$fire-offset-y: -33px;
$fire-width: 16px;
$fire-height: 24px;
$fire-total-width: 225px;
$fire-total-height: 133px;
$fire-image: 'sprite.png';
$fire: (173px, 33px, -173px, -33px, 16px, 24px, 225px, 133px, 'sprite.png', 'fire', );
$for-exp-name: 'for-exp';
$for-exp-x: 140px;
$for-exp-y: 0px;
$for-exp-offset-x: -140px;
$for-exp-offset-y: 0px;
$for-exp-width: 85px;
$for-exp-height: 32px;
$for-exp-total-width: 225px;
$for-exp-total-height: 133px;
$for-exp-image: 'sprite.png';
$for-exp: (140px, 0px, -140px, 0px, 85px, 32px, 225px, 133px, 'sprite.png', 'for-exp', );
$for-jour-name: 'for-jour';
$for-jour-x: 0px;
$for-jour-y: 0px;
$for-jour-offset-x: 0px;
$for-jour-offset-y: 0px;
$for-jour-width: 72px;
$for-jour-height: 68px;
$for-jour-total-width: 225px;
$for-jour-total-height: 133px;
$for-jour-image: 'sprite.png';
$for-jour: (0px, 0px, 0px, 0px, 72px, 68px, 225px, 133px, 'sprite.png', 'for-jour', );
$help-1-name: 'help-1';
$help-1-x: 73px;
$help-1-y: 0px;
$help-1-offset-x: -73px;
$help-1-offset-y: 0px;
$help-1-width: 66px;
$help-1-height: 66px;
$help-1-total-width: 225px;
$help-1-total-height: 133px;
$help-1-image: 'sprite.png';
$help-1: (73px, 0px, -73px, 0px, 66px, 66px, 225px, 133px, 'sprite.png', 'help-1', );
$help-2-name: 'help-2';
$help-2-x: 0px;
$help-2-y: 69px;
$help-2-offset-x: 0px;
$help-2-offset-y: -69px;
$help-2-width: 58px;
$help-2-height: 64px;
$help-2-total-width: 225px;
$help-2-total-height: 133px;
$help-2-image: 'sprite.png';
$help-2: (0px, 69px, 0px, -69px, 58px, 64px, 225px, 133px, 'sprite.png', 'help-2', );
$insta-name: 'insta';
$insta-x: 140px;
$insta-y: 33px;
$insta-offset-x: -140px;
$insta-offset-y: -33px;
$insta-width: 32px;
$insta-height: 28px;
$insta-total-width: 225px;
$insta-total-height: 133px;
$insta-image: 'sprite.png';
$insta: (140px, 33px, -140px, -33px, 32px, 28px, 225px, 133px, 'sprite.png', 'insta', );
$label-oval-name: 'label-oval';
$label-oval-x: 221px;
$label-oval-y: 33px;
$label-oval-offset-x: -221px;
$label-oval-offset-y: -33px;
$label-oval-width: 4px;
$label-oval-height: 4px;
$label-oval-total-width: 225px;
$label-oval-total-height: 133px;
$label-oval-image: 'sprite.png';
$label-oval: (221px, 33px, -221px, -33px, 4px, 4px, 225px, 133px, 'sprite.png', 'label-oval', );
$status-dot-name: 'status-dot';
$status-dot-x: 221px;
$status-dot-y: 38px;
$status-dot-offset-x: -221px;
$status-dot-offset-y: -38px;
$status-dot-width: 4px;
$status-dot-height: 4px;
$status-dot-total-width: 225px;
$status-dot-total-height: 133px;
$status-dot-image: 'sprite.png';
$status-dot: (221px, 38px, -221px, -38px, 4px, 4px, 225px, 133px, 'sprite.png', 'status-dot', );
$time-name: 'time';
$time-x: 190px;
$time-y: 33px;
$time-offset-x: -190px;
$time-offset-y: -33px;
$time-width: 18px;
$time-height: 18px;
$time-total-width: 225px;
$time-total-height: 133px;
$time-image: 'sprite.png';
$time: (190px, 33px, -190px, -33px, 18px, 18px, 225px, 133px, 'sprite.png', 'time', );
$spritesheet-width: 225px;
$spritesheet-height: 133px;
$spritesheet-image: 'sprite.png';
$spritesheet-sprites: ($checkbox-label-checked, $checkbox-label, $fire, $for-exp, $for-jour, $help-1, $help-2, $insta, $label-oval, $status-dot, $time, );
$spritesheet: (225px, 133px, 'sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
