// Colors
//
// Use the `color()` function to add colors to CSS properties. To learn more,
// [read the Chroma documentation](http://johnalbin.github.io/chroma/).

// Define the default color scheme's color names.
$chroma: define-default-color-scheme('branding', 'The site\'s main colors. Can be used to define colors in other color schemes.');

$chroma: add-colors((
  black:         #000,
  black1:        #191919,
  green:         #16bc02,
  green1:        #1eb306,
  green2:        #23b400,
  green3:        #12881b,
  green4:        #379237,
  green5:        rgba(0, 138, 0, 0.49),
  greyy:         #fafafa,
  greyy1:        #bdbdbd,
  greyy2:        #eee,
  greyy3:        #333,
  greyy4:        #e2e2e2,
  greyy5:        #afafaf,
  greyy6:        #626262,
  greyy7:        rgba(153, 153, 153, 0.1),
  greyy8:        #eaeaea,
  purple:        #5321a8,
  red:           #dc000e,
  white:         #fff,
  white1:        rgba(255, 255, 255, 0.87),
));

// Define color names for functional uses.
$chroma: define-color-scheme('functional', 'Colors used by functional parts of the design.');
$chroma: add-colors('functional', (
  // Colors used in the main content area.
  text:                 'black',

  banner-border:        'green',
  btn-green-bg:         'green',
  btn-green-shadow-text: 'white',
  btn-green-shadow:     'green5',
  btn-green-text:       'white1',

  bg-white:             'white',
  footer-bg:            'greyy2',

  active-item-bd:       'green',
  archive-search:       'greyy7',
  archive-search-text:  'greyy6',

  create-button:        'green3',

  denied:               'red',

  footer-copyright:     'greyy6',

  green-dots:           'green',
  green-company:        'green2',
  greyy-dots:           'greyy1',

  header-link-border:   'green',
  header-menu:          'greyy3',
  header-separator:     'greyy4',

  main-bg:              'greyy',
  main-black:           'black1',
  main-green:           'green1',
  main-purple:          'purple',
  main-shadow:          'black',
  messages-border:      'greyy2',
  messages-data:        'greyy6',
  messages-green:       'green4',
  messages-grey-icon:   'greyy8',

  people-icons:         'greyy6',

  search-border:        'greyy2',
  select:               'greyy2',
  select-arrows:        'greyy3',
  select-text:          'greyy5',
  sidebar:              'green3',
  sidebar-icon:         'greyy5',
  sidebar-item:         'greyy6',

  bell:                 'greyy5',
  new-message:          'white',

  primary-tab-bd:       'greyy2',
  primary-tab-item:     'greyy3'
));

$chroma-active-scheme: 'functional';

$main-shadow-small: 0 0 2px rgba(color(main-shadow), .18);
$main-shadow-big:   0 0 8px rgba(color(main-shadow), .12);
